body {
    height: 300px;
    width: 266px;
    background-color: whitesmoke;
    margin: 0px;
}


.aviso-tracker-popup{


    .warning{
        &-header{
            &-icon{
                height: 32px;
                width: 34px;
            }
        }
    }
}


